<!DOCTYPE html>
<html>
<head>
  <title>REGISTRO ACTIVIDAD</title>
  <link rel="stylesheet" type="text/css" href="bootstrap/otrasvistas.css">
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
</head>
<body>
    <div class="navbar">
        <ul class="nav">
          <li class="item">
            <a href="#">MENU</a>
          </li>
          <li class="item">
            <a href="#">ACTIVIDADES</a>
          </li>
        </ul>       
      </div>
  <br />
  <div class="row">
        
   <div class="col-lg-4">
   <center><h3>Mis creditos</h3></center>
     <dl class="dl-horizontal">
  <dt>Credito 1</dt>
  <dd>descrpcion</dd>
    <dt>Credito 2</dt>
  <dd>descrpcion</dd>
</dl>

   </div>
  </div>

</body>
</html>
 