<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="stylesheet" type="text/css" href="bootstrap/otrasvistas.css">
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
</head>
<body>
   <div class="navbar">
        <ul class="nav">
          <li class="item">
            <a href="#">MENU</a>
          </li>
          <li class="item">
            <a href="#">ACTIVIDADES</a>
          </li>
        </ul>       
      </div>
  <br />
  <div class="col-lg-10">
 
  </div>
</body>
</html>

